use flake

# Git fetch if repo exists and the head is older than 5 minutes
if [ -d .git ]; then
  LAST_FETCH=$(stat -c %Y .git/FETCH_HEAD 2>/dev/null || echo 0)
  NOW=$(date +%s)
  DIFF=$((NOW - LAST_FETCH))

  if [ $DIFF -gt 300 ]; then
    echo "Fetching latest changes from remote..."
    git fetch --quiet &
  fi
fi

# Check for my custom flake inputs I always want up to date
nix flake update michael-home nixos-modules nix-devshells nix-secrets

# Tell me if anything changed
git status